{% extends "base.html" %}

{% block title %}Giới thiệu - FMATH{% endblock %}

{% block body %}

<div class="content">
    <div class="prose max-w-none"><div><h5>Chào mừng các bạn đã đến với <strong><em>FMATH</em></strong>.</h5>
    <p><strong><em>FMATH</em></strong> là sân chơi để các bạn trên khắp cả nước cùng nhau lập trình!</p>
    <p><strong><em>FMATH</em></strong> được phát triển thông qua mã nguồn mở của DMOJ.</p>
    <p>Chúng tôi sẽ hướng dẫn các bạn và có những quy định theo nguyên tắc của <strong><em>FMATH</em></strong> ở đây.</p>
    <p><strong>FMATH</strong> được lập lên và duy trì bởi <strong>HaiNamPCT</strong> và được quản lý bởi đội tuyển HSG Tin Học Trường THCS Trung Đô cũ (TP Vinh)</p>
    <hr>
    <h2>Tôi đã nộp bài và nhận phản hồi nhưng tôi chưa hiểu!</h2>
    <p>Kiểm tra thông tin phản hồi <a href="/about/codes/">ở đây</a> .</p>
    <h2>Làm sao để tôi đổi màu username?</h2>
    <p>Thật dễ dàng! Bạn chỉ cần tham gia làm bài, contest một cách tích cực và thường xuyên thì bạn sẽ nhận được màu sắc tương ứng.</p>
    <p>Màu sắc tương ứng với các xếp hạng như sau:</p>
    <h2>Ratings Chart</h2>
    <table>
    <thead>
    <tr>
    <th>Points</th>
    <th>Level</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td class="rating rate-newbie"><span class="arithmatex">\(\le 1000\)</span></td>
    <td class="rating rate-newbie">Newbie</td>
    </tr>
    <tr>
    <td class="rating rate-amateur"><span class="arithmatex">\(1000-1299\)</span></td>
    <td class="rating rate-amateur">Amateur</td>
    </tr>
    <tr>
    <td class="rating rate-expert"><span class="arithmatex">\(1300-1599\)</span></td>
    <td class="rating rate-expert">Expert</td>
    </tr>
    <tr>
    <td class="rating rate-candidate-master"><span class="arithmatex">\(1600-1899\)</span></td>
    <td class="rating rate-candidate-master">Candidate Master</td>
    </tr>
    <tr>
    <td class="rating rate-master"><span class="arithmatex">\(1900-2399\)</span></td>
    <td class="rating rate-master">Master</td>
    </tr>
    <tr>
    <td class="rating rate-grandmaster"><span class="arithmatex">\(2400-2999\)</span></td>
    <td class="rating rate-grandmaster">Grandmaster</td>
    </tr>
    <tr>
    <td class="rating rate-target"><span class="arithmatex">\(\ge 3000\)</span></td>
    <td class="rating rate-target">Target</td>
    </tr>
    </tbody>
    </table>
    <h2>Help! Tôi đang gặp lỗi!</h2>
    <p>Thông thường, lỗi sẽ không biến mất ngay. Quản trị viên sẽ khắc phục lỗi và vấn đề mà bạn mắc phải. Hãy thông báo cho chúng tối biết lỗi mà bạn tìm thấy ở phần nhận xét của mỗi bài tập!</p>
    <p>Cho đến lúc quản trị viên nhận thông báo, chúng tôi khuyến khích các bạn không gửi bài tập lên nạp, việc làm đấy sẽ tạo ra nhiều thông báo lỗi và gây khó khăn trong việc khắc phục lỗi.</p>
    <h2>Tôi bị -9999 trong một contest có nghĩa là gì?</h2>
    <p>Điều đó có nghĩa là bạn đã bị nghi ngờ gian lận trong contest. Nếu bạn tin rằng nhận định này được đưa ra do nhầm lẫn, bạn hãy liên hệ đến chúng tôi để được xem xét.</p>
    <h2>Tôi đang gặp sự cố, làm cách nào để tôi có thể liên hệ đến quản trị viên?</h2>
    <p>Đội ngũ quản trị viên của trung tâm <strong><em>FMATH</em></strong>: . Nếu bạn gặp vấn đề gì hãy liên lạc với chúng tôi.</p>
    <h2>Trường học của tôi không có ở trên <strong><em>FMATH</em></strong>, làm sao tôi có thể thêm?</h2>
    <p>Hãy liên hệ với quản trị viên và cho chúng tôi biết về trường học của bạn.</p>
    <h2>Tôi có thể đóng góp gì cho <strong><em>FMATH</em></strong>?</h2>
    <p>Chúng tôi sẽ rất vui! Việc báo cáo các lỗi và đóng góp những ý tưởng mà các bạn muốn <strong><em>FMATH</em></strong> áp dụng là các bạn đang giúp <strong><em>FMATH</em></strong> hoàn thiện hơn rất nhiều.</p>
    <h2>Bài tập ở đây chưa đủ độ khó với tôi. Số lượng bài tập không đủ để tôi làm!</h2>
    <p>Thật ư! Bạn có chắc là đã tham gia hết tổ chức của <strong><em>FMATH</em></strong> chứ?</p>
    <h2>Tôi có thể tạo ra contest của mình trên <strong><em>FMATH</em></strong>?</h2>
    <p>Điều này có thể xảy ra nếu bạn có đủ khả năng. Hãy liên hệ với chúng tôi để trở thành một trợ giảng trong các lớp học!</p>
    <h2>Tôi có thể có bài tập của <strong><em>FMATH</em></strong> và thiếp lập <strong><em>FMATH</em></strong> cho trường học của mình không?</h2>
    <p>Chúng tôi luôn luôn sẵn sàng. Hãy liên hệ với chúng tôi và bạn sẽ có được hệ thống <strong><em>FMATH</em></strong> cho trường học của bạn.</p>
    <h2><strong><em>FMATH</em></strong> nghĩa là gì?</h2>
    <p><strong><em>FMATH</em></strong> là tên thương hiệu của chúng tôi nghĩa là Fuck - Math! Thực ra ban đầu nó là <strong><em>Fmathcoding</em></strong> nhưng chúng tôi đã thay đổi và rút gọn nó thành: <strong><em>FMATH</em></strong>.</p></div></div>
</div>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/katex.min.css">
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/katex.min.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/contrib/auto-render.min.js"
    onload="renderMathInElement(document.body, {
        delimiters: [
            {left: '$$', right: '$$', display: true},
            {left: '\\(', right: '\\)', display: false},
            {left: '$', right: '$', display: false}
        ]
    });"></script>

{% endblock %}